.menuButton {
	background-color:#db6ddb;
	border-radius:20px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#db6dd2;
	font-family:Arial;
	font-size:19px;
	padding:24px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #db6ddb;
}
.menuButton:hover {
	background-color:#bd24b8;
}
.menuButton:active {
	position:relative;
	top:1px;
}
